#email-capture {
	width: 100%;
	height: 300px;
	text-align: center;
	color: #FFF;
	background: url("img/skeptical-email-capture.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px;
}

#email-capture h2 {
	color: #FFF;
}

#email-capture form {
	vertical-align: center;
}

#email-capture form p#subscribe-email {
	margin-right: 30px;
}

#email-capture label {
	display: none;
}

#email-capture form p input[name="email"] {
	background-color: white !important;
	border-radius: 2px !important;
	border-color: transparent !important;
	height: 55px !important;
	font-family: $avenir-light;
}

#email-capture form input::-moz-placeholder {
	color: #999;
	font-style: italic;
	font-family: $avenir-light;
	font-weight: 200;
	opacity: 1;
}

#email-capture form input::-webkit-input-placeholder {
	color: #999;
	font-style: italic;
	font-family: $avenir-light;
	font-weight: 200;
}


#email-capture form input[type="submit"] {
	background-color: $orange;
	border-radius: 2px;
	font-family: $avenir-light;
	font-weight: 400;
	text-transform: none;
}

@media (min-width: 700px) {
	#email-capture form {
		/*display: flex;*/
		width: 100%;
		flex-flow: row wrap;
		justify-content: center;
		margin: auto;
	}

	#email-capture .widget-wrap {
		max-width: 800px !important;
		margin: auto;
		margin-bottom: 40px;
	}

	#email-capture form input[type="text"] {
		display: inline-block;
		order: 1;
		flex-grow: 2;
		width: 400px;
	}

	#email-capture form input[type="submit"] {
		display: inline-block;
		order: 2;
		flex-grow: 1;
		/*max-width: 200px !important;*/

	}
}